[{{ project_slug }}]
host={{ pg_host }}
user={{ pg_user }}
dbname={{ pg_dbname }}
password={{ pg_pass }}

[dbadmin]
host={{ pg_host }}
user={{ pg_admin_user }}
dbname={{ pg_admin_dbname }}
password={{ pg_admin_pass }}
